// //Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.
 
.container-fluid{
	padding: 0
}

body{
	font-family: "MuseoSans";
}
.row{
	margin: 0;
	padding: 0;
}

// // TEXT COLORS

.text-gray{ 
	color:#989898; 
} 
.text-dark-gray{
	color:#4D4545;
}
.text-white{ 
	color:white; 
} 
.text-orange{ 
	color:#FF6A49; 
} 
.text-yellow{  
	color:#FFC200; 
} 
.text-light-blue{ 
	color:#58C6E7; 
}
.text-icolor{
	color:#28C5E6;
} 
.text-tomato{
	color:tomato !important;
}
h1{
  text-align: center;
  font-size: 37px;
  letter-spacing:0;
  line-height: 1;
  font-family: NeutraText-DemiAlt !important;
}  
h2{
  text-align: center;
	font-size: 33px;
	letter-spacing:0;
  line-height: 1;
  font-family: NeutraText-DemiAlt !important;
}
h3{
  letter-spacing: 0.03em;
  line-height: 1.4;
  font-size: 27px;
}
h4{
  font-family: NeutraText-LightAlt !important;
  letter-spacing: 0.03em;
  line-height: 1.2;
  font-size: 25px;
}
h5{
  font-family: NeutraText-LightAlt !important;
  line-height: 1.2;
  font-size: 20px;
  margin-bottom: 2%;
  margin-top: 0;
}

// BACKGROUND COLOR

.bg-gray{ 
	background-color:#9E9D9D; 
} 
.bg-light-gray{ 
  background-color:#E8E8E8; 
} 
.bg-white{ 
	background-color:white; 
} 
.bg-pastel1{
  background-color: #CCA18B;
} 
.bg-pastel2{
  background-color: #E89;
}
.bg-pastel3{
  background-color: #67AE6D;
}
.bg-pastel4{
  background-color: #AB5;
} 
.bg-pastel5{
  background-color: #B9B;
}
.bg-pastel6{
  background-color: #A95;
}

// TEXT ALIGN

.text-left {
  text-align: left; 
}

.text-right {
  text-align: right; 
}

.text-center {
  text-align: center; 
}

.text-justify {
  text-align: justify; 
}

// FONTS:

@font-face {
  font-family: MuseoSans;
  src: url(../fonts/section-fonts/MuseoSans.otf);
}
@font-face {
  font-family: MuseoSans-uno;
  src: url(../fonts/section-fonts/MuseoSans-uno.otf);
}

@font-face {
  font-family: NeutraText-LightAlt;
  src: url(../fonts/header-fonts/NeutraText-LightAlt.otf);
}

@font-face {
  font-family: NeutraText-BoldAlt;
  src: url(../fonts/header-fonts/NeutraText-BoldAlt.otf);
}
@font-face {
  font-family: NeutraText-DemiAlt;
  src: url(../fonts/header-fonts/NeutraText-DemiAlt.otf);
}